<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/images/GDT_Logo.png" class="logoNavBar"></a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav ms-3">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/collaborateur/reservations/" (click)="isMenuCollapsed = true">Vos Réservations
          <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/collaborateur/annonces/" (click)="isMenuCollapsed = true">Vos Annonces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="isMenuCollapsed = true">Statistiques</a>
        <!-- routerLink="/collaborateur/statistiques/" -->
      </li>
    </ul>
  </div>
  <app-logout></app-logout>
</nav>
