<form [formGroup]="formOffer">
  <div>
    <div class="card" style="margin:0.5em">
      <div class="card-header">Itinéraire</div>
      <div class="card-body">
        <div class="form-group row" style="margin:0.5em">
          <label for="departureInput" class="col-sm-2 col-form-label text-end">Adresse de départ*</label>
          <div class="col-sm-6">
            <input type="text" formControlName="departureAddress" id="departureInput" class="form-control" (keypress)="refreshDeparture()" (blur)="estimateDistanceTime()" [ngbTypeahead]="researchDepartureAddress">
            <small class="text-danger" *ngIf="checkRequired('departureAddress')">
              L'addresse de départ est obligatoire
            </small>
            <small class="text-danger" *ngIf="formOffer.controls['departureAddress'].hasError('address')">
              L'adresse de départ est une adresse inconnue
            </small>
          </div>
        </div>

        <div class="form-group row" style="margin:0.5em">
          <label class="col-sm-2 col-form-label text-end" for="arrivalInput">Adresse de destination*</label>
          <div class="col-sm-6">
            <input type="text" formControlName="arrivalAddress" id="departureInput" class="form-control" (keypress)="refreshArrival()" (blur)="estimateDistanceTime()" [ngbTypeahead]="researchArrivalAddress">
            <small class="text-danger" *ngIf="checkRequired('arrivalAddress')">
              L'addresse d'arrivée est obligatoire
            </small>
            <small class="text-danger" *ngIf="formOffer.hasError('daaddress')">
              Les addresse de départ et d'arrivée doivent être différentes
            </small>
            <small class="text-danger" *ngIf="formOffer.controls['arrivalAddress'].hasError('address')">
              L'adresse d'arrivée est une adresse inconnue
            </small>
          </div>
        </div>

        <div class="row" style="margin:0.5em">
          <label class="col-sm-2 text-end" for="">Durée du trajet</label>
          <div class="col-sm-6">{{time | duration}}</div>
        </div>
        <div class="row" style="margin:0.5em">
          <label class="col-sm-2 text-end" for="">Distance</label>
          <div class="col-sm-6">{{distance}} km</div>
        </div>
      </div>
    </div>
    <div class="card" style="margin:0.5em">
      <div class="card-header">Véhicule</div>
      <div class="card-body">
        <div class="form-group row" style="margin:0.5em">
          <label for="licenseInput" class="col-sm-2 col-form-label text-end">Immatriculation*</label>
          <div class="col-sm-6">
            <input type="text" formControlName="licensePlate" id="licenseInput" class="form-control">
            <small class="text-danger" *ngIf="checkRequired('licensePlate')">
              La plaque d'immatriculation est obligatoire
            </small>
            <small class="text-danger" *ngIf="checkLicense()">
              La plaque d'immatriculation n'est pas au format XX-123-YY
            </small>
          </div>
        </div>

        <div class="form-group row" style="margin:0.5em">
          <label for="brandInput" class="col-sm-2 col-form-label text-end">Marque*</label>
          <div class="col-sm-6">
            <input type="text" formControlName="brand" id="brandInput" class="form-control">
            <small class="text-danger" *ngIf="checkRequired('brand')">
              La marque est obligatoire
            </small>
          </div>
        </div>

        <div class="form-group row" style="margin:0.5em">
          <label for="modelInput" class="col-sm-2 col-form-label text-end">Modèle*</label>
          <div class="col-sm-6">
            <input type="text" formControlName="model" id="modelInput" class="form-control">
            <small class="text-danger" *ngIf="checkRequired('model')">
              Le modèle est obligatoire
            </small>
          </div>
        </div>

        <div class="form-group row" style="margin:0.5em">
          <label for="seatsInput" class="col-sm-2 col-form-label text-end">Nombre de places disponibles*</label>
          <div class="col-sm-6">
            <input type="number" formControlName="availableSeats" id="seatsInput" class="form-control">
            <small class="text-danger" *ngIf="formOffer.controls['availableSeats'].hasError('max') || formOffer.controls['availableSeats'].hasError('min')">
              Le nombre de places doit être compris entre 1 et 20
            </small>
          </div>
        </div>

      </div>
    </div>
    <div class="card" style="margin:0.5em">
      <div class="card-header">Date et horaire</div>
      <div class="form-group row" style="margin:0.5em">
        <label class="col-sm-2 col-form-label text-end">Date/Heure*</label>
        <div class="col-sm-1">
          <input type="text" formControlName="date" id="dateInput" ngbDatepicker #d="ngbDatepicker"
            (click)="d.toggle()" />
        </div>
        <div class="col-sm-1">
          <select class="form-control custom-select" formControlName="hour" id="exampleFormControlSelect1">
            <option [ngValue]="null" disabled>Heures</option>
            <option value=00>00</option>
            <option value=01>01</option>
            <option value=02>02</option>
            <option value=03>03</option>
            <option value=04>04</option>
            <option value=05>05</option>
            <option value=06>06</option>
            <option value=07>07</option>
            <option value=08>08</option>
            <option value=09>09</option>
            <option value=10>10</option>
            <option value=11>11</option>
            <option value=12>12</option>
            <option value=13>13</option>
            <option value=14>14</option>
            <option value=15>15</option>
            <option value=16>16</option>
            <option value=17>17</option>
            <option value=18>18</option>
            <option value=19>19</option>
            <option value=20>20</option>
            <option value=21>21</option>
            <option value=22>22</option>
            <option value=23>23</option>
          </select>
        </div>
        <div class="col-sm-1">
          <select class="form-control custom-select" formControlName="minutes" id="exampleFormControlSelect1">
            <option [ngValue]="null" disabled>Minutes</option>
            <option value=00>00</option>
            <option value=10>10</option>
            <option value=20>20</option>
            <option value=30>30</option>
            <option value=40>40</option>
            <option value=50>50</option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="formOffer.hasError('date')">
        <div class="col-sm-2"></div>
        <div class="col">
          <small class="text-danger">
            La date et l'heure ne peuvent être antérieure à aujourd'hui
          </small>
        </div>
      </div>
      <div class="row" *ngIf="checkDateTime()">
        <div class="col-sm-2"></div>
        <div class="col">
          <small class="text-danger">
            La date et l'heure sont obligatoires
          </small>
        </div>
      </div>
    </div>
  </div>
  <button [disabled]="formOffer.invalid" (click)="open(content)" class="btn btn-primary">Publier</button>
</form>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation de votre proposition</h4>
  </div>
  <div class="modal-body">
    <div class="row" style="margin:0.5em">
      <label class="col-sm-6 col-form-label text-end">Départ</label>
      <div class="col-sm-6">
        {{formOffer.get("departureAddress")?.value}}
      </div>
    </div>
    <div class="row" style="margin:0.5em">
      <label class="col-sm-6 col-form-label text-end">Destination</label>
      <div class="col-sm-6">
        {{formOffer.get("arrivalAddress")?.value}}
      </div>
    </div>
    <div class="row" style="margin:0.5em">
      <label class="col-sm-6 col-form-label text-end">Immatriculation</label>
      <div class="col-sm-6">
        {{formOffer.get("licensePlate")?.value}}
      </div>
    </div>
    <div class="row" style="margin:0.5em">
      <label class="col-sm-6 col-form-label text-end">Marque</label>
      <div class="col-sm-6">
        {{formOffer.get("brand")?.value}}
      </div>
    </div>
    <div class="row" style="margin:0.5em">
      <label class="col-sm-6 col-form-label text-end">Modèle</label>
      <div class="col-sm-6">
        {{formOffer.get("model")?.value}}
      </div>
    </div>
    <div class="row" style="margin:0.5em">
      <label class="col-sm-6 col-form-label text-end">Nb.places disponibles</label>
      <div class="col-sm-6">
        {{formOffer.get("availableSeats")?.value}}
      </div>
    </div>
    <div class="row" style="margin:0.5em">
      <label class="col-sm-6 col-form-label text-end">Date/heure</label>
      <div class="col-sm-6">
        le {{formOffer.get("date")?.value | dateInput}} à {{formOffer.get("hour")?.value}} h
        {{formOffer.get("minutes")?.value}}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Annuler</button>
    <button type="button" class="btn btn-outline-dark" (click)="validate(); modal.close()">Confirmer</button>
  </div>
</ng-template>
