.logo_name {
  margin-bottom: 50px;
}

h1 {
  padding-left:  120px;
}

.logo {
  display: block;
  width: 20%;
  height: 20%;
  margin-left: 90px;
  margin-bottom: 25px;
}

form {
  width: 50%;
}

div small {
  margin-top: 0%;
  margin-bottom: 50px;
}

img {
  display: block;
  width: 60%;
  height: 60%;
  margin: auto;
}

div p {
  text-align: center;
}
