<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="https://media.discordapp.net/attachments/988404259794079787/993870589276196954/GDT_Logo.png" class="Image"></a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav ms-3">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/collaborateur/reservations/" (click)="isMenuCollapsed = true">Vos Réservations <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/collaborateur/annonces/" (click)="isMenuCollapsed = true">Vos Annonces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/collaborateur/statistiques" (click)="isMenuCollapsed = true">Statistiques</a>
      </li>
    </ul>
  </div>
</nav>
