<div class="mt-4">
  <h2 class="fs-4">Covoiturages</h2>

  <table class="table table-striped table-hover table-bordered border-5 align-middle" *ngIf="carpoolsList.length > 0">
    <thead>
      <tr>
        <th scope="col">Date / heure</th>
        <th scope="col">Départ</th>
        <th scope="col">Destination</th>
        <th scope="col">Véhicule</th>
        <th scope="col">Chauffeur</th>
        <th scope="col">Places disponibles</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carpool of carpoolsList">
        <th scope="row ">{{ carpool.dateHeure | date:'dd/MM/yyyy HH:mm'}}</th>
        <td>{{ carpool.departureAddress }}</td>
        <td>{{ carpool.arrivalAddress }}</td>
        <td>{{ carpool.vehicle.brand }} {{ carpool.vehicle.model }}</td>
        <td>{{ carpool.driver.lastname }} {{ carpool.driver.firstname }}</td>
        <td>{{ carpool.availableSeats }}</td>
        <td class="text-center">
          <button type="button" class="btn btn-outline-dark" (click)="openModal(carpool)" data-target="#exampleModal"
            [disabled]="carpool.availableSeats === 0">Réserver</button>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="fw-bold text-center" *ngIf="carpoolsList.length === 0">Aucun covoiturage trouvé !</p>
</div>
