<h2>Vos Annonces</h2>

<a class="btn btn-outline-secondary offset-10" routerLink="creer" role="button"> Créer une nouvelle
  annonce</a>
<div class="card">
  <div class="card-header m-2">
    <h4>Annonces en cours</h4>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date/Heure</th>
          <th scope="col">Départ</th>
          <th scope="col">Destination</th>
          <th scope="col">Nombre de voyageurs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offer of offerList; let index = index">
          <th class="col">{{offer.dateHeure | date:'dd/MM/yyyy HH:mm'}}</th>
          <th class="col">{{offer.departureAddress}}</th>
          <th class="col">{{offer.arrivalAddress}}</th>
          <th class="col">{{offer.availableSeats}}</th>
          <th>

            <button class="btn btn-danger" (click)="openCancel(cancelWindow, offer)">Annuler</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card">
    <h4 class="card-header">Historique</h4>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Date/Heure</th>
            <th scope="col">Départ</th>
            <th scope="col">Destination</th>
            <th scope="col">Nombre de voyageurs</th>
            <th scope="col">Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let history of historyList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let index = index">
            <th class="col">{{history.dateHeure | date:'dd/MM/yyyy HH:mm'}}</th>
            <th class="col">{{history.departureAddress}}</th>
            <th class="col">{{history.arrivalAddress}}</th>
            <th class="col">{{history.availableSeats}}</th>
            <th class="col">{{history.status === "OK" ? "Terminé" : "Annulé"}}</th>
          </tr>
        </tbody>
      </table>
      <div class="offset-10">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="historyList.length">
          <ng-template ngbPaginationPages let-page let-pages="pages">
            <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
              <div class="mb-3 d-flex flex-nowrap px-2">
                <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1">Page</label>
                <input #i type="text" inputmode="numeric" pattern="[0-9]*" class="form-control custom-pages-input"
                  id="paginationInput" [value]="page" (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                  (input)="formatInput($any($event).target)"
                  aria-labelledby="paginationInputLabel paginationDescription" style="width: 2.5rem" />
                <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                  sur {{pages.length}}</span>
              </div>
            </li>
          </ng-template>

        </ngb-pagination>
      </div>
    </div>
  </div>



  <ng-template #cancelWindow let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Annulation du covoiturage</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <p>Êtes vous sûr de vouloir annuler ce covoiturage ?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Annuler</button>
      <button type="button" class="btn btn-outline-dark" (click)="cancel() ; modal.close()">Confimer</button>
    </div>
  </ng-template>
