.logo_name {
  margin-bottom: 10%;
}

.logo {
  width: 20%;
  height: 20%;
}

form {
  width: 80%;
}

.btn{
  margin-top: 20px;
}

img {
  display: block;
  width: 60%;
  height: 60%;
  margin: auto;
}

div p {
  text-align: center;
}

